.Rproj.user
.Rhistory
.RData
.Ruserdata
Linear-Models-marked-practical.html
Applied-Stats-Practical-2.html
Networks-Practical-2.html
Stat-Programming-Assessed-Practical.tex
Stat-Programming-Assessed-Practical-concordance.tex
Stat-Programming-Assessed-Practical.log
Stat-Programming-Assessed-Practical.synctex.gz
figure
